.carousel-indicators li {
	background-color: @navy;
	border-color:1px solid @navy;
}
.carousel-indicators .active {
	background-color: @navy;
    width: 14px;
    height: 14px;
}
.dataTables_wrapper {
	margin-bottom: 300px!important;
}

/*
 * override the default CSS as an example http loading
 */
#loading-bar .bar {
	background: #00C176!important;
}
#loading-bar .peg {
	-moz-box-shadow: @skin-1-nav-bg 1px 0 6px 1px !important;
	-ms-box-shadow: @skin-1-nav-bg 1px 0 6px 1px !important;
	-webkit-box-shadow: @skin-1-nav-bg 1px 0 6px 1px !important;
	box-shadow: @skin-1-nav-bg 1px 0 6px 1px !important;
}
#loading-bar-spinner .spinner-icon,
#loading-bar-spinner .spinner-icon:before,
#loading-bar-spinner .spinner-icon:after {
	border-top-color: #00C176!important;
}
.sk-spinner-double-bounce.sk-spinner {
}
.sk-double-bounce1 {
	background-color: #00C176!important;
}
.sk-spinner-double-bounce .sk-double-bounce1, .sk-spinner-double-bounce .sk-double-bounce2 {
	background-color: #00C176!important;
}

#loading-bar-spinner .spinner-icon {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #2c3e50;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
#loading-bar-spinner .spinner-icon:before {content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #2c3e50;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
#loading-bar-spinner .spinner-icon:after {content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #2c3e50;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
.icon-client {
	font-size:100px;
    margin-top: 50px;
}
/******************/
.table {
	width:100%!important;
}
.form-group.has-error .help-block {
    display: block;
}
.form-group .help-block {
    display: none;
    margin-bottom: 0;
    margin-top: 0;
}
.block-important {
	display:block!important;
    color: #ED5565!important;

}
@media (min-width: 992px) {
	.modal-lg {
	    width: 95%;
	}
	.modal-sm {
		width: 60%;
	}
	.blueimp-gallery .modal-lg {
		width: 80%;
	}
}
.timeline-item .date {
    width: 140px!important;
}
.panel-default {
	margin-bottom: 0px!important;
}
.btn-file {position: relative;overflow: hidden;margin-top: 20px;}
.btn-file input[type=file] {position: absolute;top: 0;right: 0;min-width: 100%;min-height: 100%;font-size: 100px;text-align: right;filter: alpha(opacity=0);opacity: 0;outline: none;background: white;cursor: inherit;display: block;}
.nav-tabs>li>a {
    color: #A7B1C2!important;
    font-weight: 600;
    padding: 10px 20px 10px 25px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border-bottom: 2px solid #fff!important;
}
.tab-pane {
	margin-top: 20px!important;
}
.dropdown-menu-right {
    right: 0!important;
    left: auto!important;
}
table.issue-tracker tbody tr td {
    vertical-align: middle;
    height: 50px;
}
.issue-info {
    width: 40%;
}
.issue-info small {
    display: block;
}
.issue-info a {
	font-weight: 600;
    color: #676a6c;
}
.client-link {
    font-weight: 600;
    color: inherit;
}
.has-error h2, .has-error h1, .has-error h3, .has-error h4, .has-error h5, .has-error h6 {
    color: #ED5565!important;
}
.blueimp-gallery .modal-body img {
	max-height:none;
	height:100%;
}