<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Datos completos de cliente</h3>
</div>
<div class="modal-body">
	<div class="row" style="margin-top:20px;">
		<div class="col-md-3 col-xs-3 text-center">
			<i class="fa fa-user fa-5x text-primary icon-client"></i>
		</div>
		<div class="col-md-9 col-xs-9">
			<dl class="dl-horizontal">
			  	<dt>Nombre</dt>
			  	<dd ng-switch on="instance.data.client.name.trim() === ''">
			  		<span ng-switch-when="true"><b>No proporcionado</b></span>
			  		<span ng-switch-when="false">{{instance.data.client.name}}</span>
		  		</dd>
			  	<dt>Email</dt>
			  	<dd ng-switch on="instance.data.client.email.trim() === ''">
			  		<span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
			  		<span ng-switch-when="false">{{instance.data.client.email}}</span>
			  	</dd>
			  	<dt>Teléfono</dt>
			  	<dd ng-switch on="instance.data.client.phone.trim() === ''">
			  		<span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
			  		<span ng-switch-when="false">{{instance.data.client.phone}}</span>
			  	</dd>
			  	<dt>Dirección</dt>
			  	<dd ng-switch on="instance.data.client.address.trim() === ''">
			  		<span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
			  		<span ng-switch-when="false">{{instance.data.client.address}}</span>
			  	</dd>
			  	<dt>Número</dt>
			  	<dd ng-switch on="instance.data.client.number.trim() === ''">
			  		<span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
			  		<span ng-switch-when="false">{{instance.data.client.number}}</span>
			  	</dd>
			  	<dt>Entre</dt>
		  		<dd ng-switch on="instance.data.client.between_streets.trim() === ''">
			  		<span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
			  		<span ng-switch-when="false">{{instance.data.client.between_streets}}</span>
			  	</dd>
			  	<dt>Colonia</dt>
		  		<dd ng-switch on="instance.data.client.colony.trim() === ''">
			  		<span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
			  		<span ng-switch-when="false">{{instance.data.client.colony}}</span>
			  	</dd>
			  	<dt>Código postal</dt>
		  		<dd ng-switch on="instance.data.client.postal_code.trim() === ''">
			  		<span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
			  		<span ng-switch-when="false">{{instance.data.client.postal_code}}</span>
			  	</dd>
			  	<dt>Estado</dt>
		  		<dd ng-switch on="instance.data.client.state.trim() === ''">
					<span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
					<span ng-switch-when="false">{{instance.data.client.state}}</span>
			  	</dd>
			  	<dt>Status</dt>
			  	<dd>
			  		<span ng-switch on="instance.data.client.status">
	            		<span class="label label-default" ng-switch-when="standby">Pendiente</span>
	            		<span class="label label-warning" ng-switch-when="invalid">Invalido</span>
	            		<span class="label label-info" ng-switch-when="accepted">Aceptado</span>
	            		<span class="label label-danger" ng-switch-when="canceled">Cancelado</span>
	            		<span class="label label-danger" ng-switch-when="rejected">Rechazado</span>
	            	</span>
			  	</dd>
			</dl>
		</div>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
</div>