<style type="text/css">
    .dataTables_wrapper {
        margin-bottom: 0px !important;
    }
</style>
<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Asignación de clientes a grupos</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="wrapper wrapper-content">
	            <div class="animated fadeInDown">
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="instance.data.dtOptions" dt-column-defs="instance.data.dtColumnDefs" class="table table-striped table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Grupo</th>
                                    <th>Fecha de alta</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>Estado</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="client in instance.data.clients">
                                    <td>{{client.name}}</td>
                                    <td>{{client.group.name}}</td>
                                    <td>{{client.created_at.replace(' ','T') | date:"EEE dd MMM yyyy"}}</td>
                                    <td>{{client.phone}}</td>
                                    <td>{{client.email}}</td>
                                    <td>{{client.state}}</td>
                                    <td>
                                        <span ng-switch on="client.status">
                                            <span class="label label-default" ng-switch-when="standby">Pendiente</span>
                                            <span class="label label-warning" ng-switch-when="invalid">Invalido</span>
                                            <span class="label label-info" ng-switch-when="accepted">Aceptado</span>
                                            <span class="label label-danger" ng-switch-when="canceled">Cancelado</span>
                                            <span class="label label-danger" ng-switch-when="rejected">Rechazado</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <h4>Nombre del grupo</h4> 
                        <div class="col-md-4">
                            <input 
                                type="text" 
                                class="form-control"
                                autocomplete="off"
                                id="sign_into"
                                name="sign_into"
                                ng-model="instance.data.group" 
                                typeahead="_group as _group.name for _group in instance.data.groups | filter:$viewValue | limitTo:4" 
                                required>
                        </div>
                        <div class="col-md-5 h5">
                            <dl class="dl-horizontal">
                                <dt>Nombre</dt>
                                <dd>{{instance.data.group.name}}</dd>
                                <dt>Fecha alta</dt>
                                <dd>{{instance.data.group.created_at.replace(' ','T') | date:"EEE dd MMM yyyy"}}</dd>
                                <dt>Depósito</dt>
                                <dd>{{instance.data.group.deposit | currency:'$':2}}</dd>
                                <dt>Cuota de instalación</dt>
                                <dd>{{instance.data.group.installation_fee | currency:'$':2}}</dd>
                                <dt>Cuota mensual</dt>
                                <dd>{{instance.data.group.monthly_fee | currency:'$':2}}</dd>
                            </dl>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-block btn-lg btn-success" ng-disabled="!instance.data.group.hasOwnProperty('id_groups')" ng-click="instance.associateClients(instance.data.group, instance.data.clients)">
                                <i class="fa fa-arrow-right fa-fw"></i> Asignar
                            </button>
                        </div>
                    </div>
	            </div>
	        </div>
		</div>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
</div>