<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Creación de ticket</h3>
</div>
<div class="modal-body">
    <div class="row">
        <form name="addTicketForm" novalidate>
            <div class="col-md-4">
                <h2>Datos del cliente</h2>
                <dl class="dl-horizontal">
                    <dt>Nombre</dt>
                    <dd ng-switch on="instance.data.client.name.trim() === ''">
                        <span ng-switch-when="true"><b>No proporcionado</b></span>
                        <span ng-switch-when="false">{{instance.data.client.name}}</span>
                    </dd>
                    <dt>Fecha de alta</dt>
                    <dd>{{instance.data.client.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</dd>
                    <dt>Email</dt>
                    <dd ng-switch on="instance.data.client.email.trim() === ''">
                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                        <span ng-switch-when="false">{{instance.data.client.email}}</span>
                    </dd>
                    <dt>Teléfono</dt>
                    <dd ng-switch on="instance.data.client.phone.trim() === ''">
                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                        <span ng-switch-when="false">{{instance.data.client.phone}}</span>
                    </dd>
                    <dt>Dirección</dt>
                    <dd ng-switch on="instance.data.client.address.trim() === ''">
                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                        <span ng-switch-when="false">{{instance.data.client.address}}</span>
                    </dd>
                    <dt>Entre</dt>
                    <dd ng-switch on="instance.data.client.between_streets.trim() === ''">
                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                        <span ng-switch-when="false">{{instance.data.client.between_streets}}</span>
                    </dd>
                    <dt>Colonia</dt>
                    <dd ng-switch on="instance.data.client.colony.trim() === ''">
                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                        <span ng-switch-when="false">{{instance.data.client.colony}}</span>
                    </dd>
                    <dt>Código postal</dt>
                    <dd ng-switch on="instance.data.client.postal_code.trim() === ''">
                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                        <span ng-switch-when="false">{{instance.data.client.postal_code}}</span>
                    </dd>
                    <dt>Estado</dt>
                    <dd ng-switch on="instance.data.client.state.trim() === ''">
                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                        <span ng-switch-when="false">{{instance.data.client.state}}</span>
                    </dd>
                    <dt>Status</dt>
                    <dd>
                        <span ng-switch on="instance.data.client.status">
                            <span class="label label-default" ng-switch-when="standby">Pendiente</span>
                            <span class="label label-warning" ng-switch-when="invalid">Invalido</span>
                            <span class="label label-info" ng-switch-when="accepted">Aceptado</span>
                            <span class="label label-danger" ng-switch-when="canceled">Cancelado</span>
                            <span class="label label-danger" ng-switch-when="rejected">Rechazado</span>
                        </span>
                    </dd>
                    <dt>Nivel</dt>
                    <dd>{{instance.data.client.level}}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors='{showSuccess: true}'>
                    <h2>Código de error</h2>
                    <input type="text" 
                       class="form-control input-lg"
                       id="errorCode"
                       name="errorCode"
                       ng-model="instance.data.ticket.error_code" 
                       typeahead="errorCode as errorCode.code + ' - ' + errorCode.category + ' - ' + errorCode.name for errorCode in instance.data.errorCodes | orderBy:'category' | filter:$viewValue" 
                       typeahead-min-length="0"
                       autocomplete="off"
                       required/>
                    <p class="help-block" ng-if="addTicketForm.errorCode.$error.required">El código de error es requerido</p>
                </div>
                <div class="form-group">
                    <h2>Couta de servicio estimada</h2>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-dollar"></i>
                        </span>
                        <input type="number" 
                           min="1" step="1"
                           class="form-control input-lg"
                           id="estimated_service_fee"
                           name="estimated_service_fee"
                           ng-model="instance.data.ticket.estimated_service_fee"/>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    <h2>Tipo</h2>
                    <select
                        class="form-control input-lg"
                        name="type"
                        id="type"
                        ng-model="instance.data.ticket.type"
                        required>
                        <option value=""> - Selecciona el tipo  - </option>
                        <option value="installation">Instalación</option>
                        <option value="service_call">Llamada de soporte</option>
                        <option value="filter_change">Cambio de filtro</option>
                        <option value="removal">Desinstalación</option>
                        <option value="move">Cambio de dirección del cliente</option>
                    </select>
                    <p class="help-block" ng-if="addTicketForm.type.$error.required">El tipo es requerido</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" show-errors='{showSuccess: true}'>
                    <h2>Descripción</h2>
                    <textarea 
                        class="form-control"
                        id="description"
                        name="description"
                        style="resize:vertical;"
                        ng-model="instance.data.ticket.description"
                        required>
                    </textarea>
                    <p class="help-block" ng-if="addTicketForm.description.$error.required">La descripción es requerida</p>
                </div>
                <div class="form-group">
                    <h2>Razones de la couta estimada</h2>
                    <textarea 
                        class="form-control"
                        id="estimated_service_fee_reasons"
                        name="estimated_service_fee_reasons"
                        style="resize:vertical;"
                        ng-model="instance.data.ticket.estimated_service_fee_reasons">
                    </textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
    <button class="btn btn-info" 
        ladda="instance.data.loading" 
        data-style="zoom-in" 
        data-spinner-color="#3e495f" 
        data-spinner-size="20" 
        ng-click="instance.create(addTicketForm, instance.data.ticket)">
        <i class="fa fa-floppy-o"></i>
        Crear Ticket
    </button>
</div>