<style>
	.popover {
	    max-width: 350px;
	    z-index: 999999;
	}
	.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
	    padding: 5px!important;
	}
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Comisiones para agentes de ventas</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown">
            	<div class="ibox float-e-margins">
            		<div class="ibox-title">
	                    <h5>Buscador</h5>
	                	<div class="clearfix"></div>
	                </div>
	                <div class="ibox-content">
	                	<form name="searchCommissionsForm">
	                		<div class="row" style="margin-top:10px;">
				                <div class="col-md-4">
				                    <div class="form-group form-group-lg" show-errors="{showSuccess: true}">
				                        <label class="control-label" for="from">Fecha de inicio</label>
				                        <input 
				                        	class="form-control" 
				                        	name="from" 
				                        	id="from" 
				                        	clear-text="Limpiar" 
				                        	close-text="Cerrar"
				                        	current-text="Hoy" 
				                        	datepicker-options="{startingDay: 1, showWeeks: false}" 
				                        	datepicker-popup="dd-MMM-yyyy"
				                        	is-open="data.searchCommissionsForm.datepicker.from.opened" 
				                        	ng-click="open($event, 'from')" 
				                        	ng-model="data.searchCommissionsForm.from" 
				                        	placeholder="inicio" 
				                        	readonly="readonly" 
				                        	required="" 
				                        	type="text"/>
				                        <p class="help-block" ng-if="searchCommissionsForm.from.$error.required">
				                            Fecha de inicio es requerida
				                        </p>
				                    </div>
				                </div>
				                <div class="col-md-4">
				                    <div class="form-group form-group-lg" show-errors="{showSuccess: true}">
				                        <label class="control-label" for="to">Fecha de fin</label>
				                        <input 
				                        	class="form-control" 
				                        	name="to" 
				                        	id="to" 
				                        	clear-text="Limpiar" 
				                        	close-text="Cerrar"
				                        	current-text="Hoy" 
				                        	datepicker-options="{startingDay: 1, showWeeks: false}" 
				                        	datepicker-popup="dd-MMM-yyyy"
				                        	is-open="data.searchCommissionsForm.datepicker.to.opened" 
				                        	ng-click="open($event, 'to')" 
				                        	ng-model="data.searchCommissionsForm.to" 
				                        	placeholder="fin" 
				                        	readonly="readonly" 
				                        	required="" 
				                        	type="text"/>
				                        <p class="help-block" ng-if="searchCommissionsForm.to.$error.required">
				                            Fecha de fin es requerida
				                        </p>
				                    </div>
				                </div>
				                <div class="col-md-4">
				                	<div class="form-group form-group-lg">
				                		<label class="control-label" for="to">
				                        	Agente de ventas
				                        </label>
									    <div class="clearfix"></div>
				                		<input 
				                			class="form-control"
				                			type="text" 
				                			ng-model="data.searchCommissionsForm.client" 
				                			placeholder="Agente de ventas" 
				                			typeahead="agent as agent.name for agent in getSalesAgent($viewValue)" 
				                			typeahead-min-length="3"
				                			typeahead-loading="data.searchCommissionsForm.typeahead.loading" 
				                			typeahead-no-results="data.searchCommissionsForm.typeahead.no_results">
				                        <div ng-show="data.searchCommissionsForm.typeahead.loading" class="h5">
									    	<i class="fa fa-spinner fa-pulse fa-lg fa-fw text-info"></i> Cargando
				                        </div>
									    <div ng-show="data.searchCommissionsForm.typeahead.no_results" class="h5">
									      <i class="fa fa-times fa-lg fa-fw text-danger"></i> No se encontraron resultados
									    </div>
				                	</div>
				                </div>
            				</div>
            				<div class="hr-line-dashed"></div>
            				<div class="row">
            					<div class="col-md-3 col-md-offset-9">
            						<button 
            							type="button" 
            							class="btn btn-primary btn-block" 
            							ladda="data.searchCommissionsForm.loading" 
            							data-style="zoom-in" 
            							data-spinner-color="#3e495f" 
            							data-spinner-size="20" 
            							ng-click="getCommissions(searchCommissionsForm, data.searchCommissionsForm)">
				                    	<i class="fa fa-search fa-fw"></i> 
				                    	Buscar
				                	</button>
            					</div>
            				</div>
	                	</form>
	                </div>
            	</div>
                <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>Comisiones</h5>
	                	<div class="clearfix"></div>
	                </div>
	                <div class="ibox-content">
	                	<div class="row" style="margin-bottom:10px;">
	                		<div class="col-md-4">
			                	<h3>Status del cliente</h3>
			                	<div class="btn-group btn-group-xs">
							        <label class="btn btn-default" ng-model="data.searchCommissions.is_active" ng-click="filterCommissions(data.commissions)" btn-radio="undefined">TODOS</label>
							        <label class="btn btn-default" ng-model="data.searchCommissions.is_active" ng-click="filterCommissions(data.commissions)" btn-radio="'1'">Activo</label>
							        <label class="btn btn-default" ng-model="data.searchCommissions.is_active" ng-click="filterCommissions(data.commissions)" btn-radio="'0'">Inactivo</label>
							    </div>
	                		</div>
	                		<div class="col-md-4">
							    <h3>Nivel del cliente</h3>
							    <div class="btn-group btn-group-xs">
							        <label class="btn btn-default" ng-model="data.searchCommissions.client.level" ng-click="filterCommissions(data.commissions)" btn-radio="undefined">TODOS</label>
							        <label class="btn btn-default" ng-model="data.searchCommissions.client.level" ng-click="filterCommissions(data.commissions)" btn-radio="'MARINERO'">Marinero</label>
							        <label class="btn btn-default" ng-model="data.searchCommissions.client.level" ng-click="filterCommissions(data.commissions)" btn-radio="'CABO'">Cabo</label>
							        <label class="btn btn-default" ng-model="data.searchCommissions.client.level" ng-click="filterCommissions(data.commissions)" btn-radio="'CAPITAN'">Capitán</label>
							        <label class="btn btn-default" ng-model="data.searchCommissions.client.level" ng-click="filterCommissions(data.commissions)" btn-radio="'ALMIRANTE'">Almirante</label>
							    </div>
	                		</div>
	                		<div class="col-md-4">
							    <h3>Status de la comisión</h3>
							    <div class="btn-group btn-group-xs">
							        <label class="btn btn-default" ng-model="data.searchCommissions.paid_at" ng-click="filterCommissions(data.commissions)" btn-radio="undefined">TODOS</label>
							        <label class="btn btn-default" ng-model="data.searchCommissions.paid_at" ng-click="filterCommissions(data.commissions)" btn-radio="''">Pagada</label>
							        <label class="btn btn-default" ng-model="data.searchCommissions.paid_at" ng-click="filterCommissions(data.commissions)" btn-radio="null">Sin pagar</label>
							    </div>
	                		</div>
	                	</div>
	                	<div class="hr-line-dashed"></div>
					    <div class="table-responsive">
		                	<table 
		                		datatable="ng" 
		                		dt-options="data.dtOptions" 
		                		dt-column-defs="data.dtColumnDefs" 
		                		dt-instance="data.dtInstance"
		                		class="table table-bordered">
								<thead>
									<tr>
										<th>Cliente</th>
										<!--<th>Fecha de cálculo</th>-->
										<th>Periodo</th>
										<th>Status</th>
										<th>Desglose</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="commission in data.filteredCommissions" ng-init="commission.loading = false;">
										<td style="vertical-align:middle;">
											<h4 style="margin-bottom:7px;">{{commission.client.name}}</h4>
											<small>{{commission.client.level}}</small>
											<h5>
												<label ng-switch on="commission.is_active">
													<label class="label label-info" ng-switch-when="1">Activo</label>
													<label class="label label-danger" ng-switch-when="0">Inactivo</label>
												</label>
											</h5>
										</td>
										<!--<td>{{commission.client.calculated_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>-->
										<td style="vertical-align:middle;">
											{{commission._to_month}} del {{commission.calculated_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'YYYY'}}
										</td>
										<td style="vertical-align:middle;"  class="text-center" ng-switch on="commission.paid_at === null">
											<span ng-switch-when="true">
												<span class="label label-warning">Comisión no pagada</span>
											</span>
											<span ng-switch-when="false">
												<span class="label label-success">Pagada el: {{commission.paid_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</span>
											</span>
										</td>
										<td>
											<table class="table table-condensed">
												<thead>
													<th><small>NIVEL</small></th>
													<th><small>$ por referido</small></th>
													<th></th>
													<th><small>referidos</small></th>
													<th></th>
													<th><small>$ referidos</small></th>
													<th><small>$ a pagar</small></th>
												</thead>
												<tbody>
													<tr ng-if="commission.client.level === 'MARINERO' || commission.client.level === 'CABO' || commission.client.level === 'CAPITAN' || commission.client.level === 'ALMIRANTE'">
														<td class="col-md-2"><h5>NIVEL 1</h5></td>
														<td class="text-right">{{30 | currency:'$':2}}</td>
														<td><span>x</span></td>
														<td class="text-right">{{commission.level_1}}</td>
														<td><span>=</span></td>
														<td class="text-right">{{(commission.level_1 * 30) | currency:'$':2}}</td>
														<td class="text-center"><span>+</span></td>
													</tr>
													<tr ng-if="commission.client.level === 'CABO' || commission.client.level === 'CAPITAN' || commission.client.level === 'ALMIRANTE'">
														<td class="col-md-2"><h5>NIVEL 2</h5></td>
														<td class="text-right">{{15 | currency:'$':2}}</td>
														<td><span>x</span></td>
														<td class="text-right">{{commission.level_2}}</td>
														<td><span>=</span></td>
														<td class="text-right">{{(commission.level_2 * 15) | currency:'$':2}}</td>
														<td class="text-center"><span>+</span></td>
													</tr>
													<tr ng-if="commission.client.level === 'CAPITAN' || commission.client.level === 'ALMIRANTE'">
														<td class="col-md-2"><h5>NIVEL 3</h5></td>
														<td class="text-right">{{10 | currency:'$':2}}</td>
														<td><span>x</span></td>
														<td class="text-right">{{commission.level_3}}</td>
														<td><span>=</span></td>
														<td class="text-right">{{(commission.level_3 * 10) | currency:'$':2}}</td>
														<td class="text-center"><span>+</span></td>
													</tr>
													<tr ng-if="commission.client.level === 'ALMIRANTE'">
														<td class="col-md-2"><h5>NIVEL 4</h5></td>
														<td class="text-right">{{5 | currency:'$':2}}</td>
														<td><span>x</span></td>
														<td class="text-right">{{commission.level_4}}</td>
														<td><span>=</span></td>
														<td class="text-right">{{(commission.level_4 * 5) | currency:'$':2}}</td>
														<td class="text-center"><span>+</span></td>
													</tr>
													<tr>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td class="text-right"><b>{{commission.amount | currency:'$':2}}</b></td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</td>
										<td style="vertical-align:middle;">
											<button 
		            							type="button" 
		            							class="btn btn-info btn-block" 
		            							ladda="commission.loading" 
		            							data-style="zoom-in" 
		            							data-spinner-color="#3e495f" 
		            							data-spinner-size="20" 
		            							ng-if="commission.paid_at === null"
		            							ng-click="registerAsPaid(commission)">
						                    	<i class="fa fa-money fa-fw fa-lg"></i> 
						                    	Pagar
											</button>
											<button type="button" 
													class="btn btn-danger btn-block"
													data-style="zoom-in"
													data-spinner-color="#3e495f"
													data-spinner-size="20"
													 ng-if="commission.declined !== null"
													 ng-click="showDeclined(commission)">
													<i class="fa fa-exclamation-triangle fa-fw fa-lg"></i> 
													Clientes inválidos
											</button>
										</td>
									</tr>
								</tbody>
							</table>
					    </div>
	                </div>
	            </div>
            </div>
        </div>
    </div>
</div>
