<style type="text/css">
  .h6 {
    font-size: 10px;
  }

  .h5 {
    font-size: 11px;
  }

  .label-serial-number {
    background-color: transparent;
    color: #000;
  }

  .esconder {
    display: none;
  }
</style>
<script type="text/ng-template" ng-init="name= 'John'" id="actions.html">
  <div class="btn-group" dropdown>
    <button type="button" class="btn btn-primary" dropdown-toggle>
      Opciones&nbsp;<span class="fa fa-fw fa-caret-down"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="split-button">
      <li role="menuitem" ng-click="reviewPurchaseContract(data)">
        <a href="">
          <i class="fa fa-fw fa-file"></i> Ver contrato de compra
        </a>
      </li>
      <li role="menuitem" ng-click="reviewReferredContracts(client)">
        <a href="">
          <i class="fa fa-fw fa-files-o"></i> Ver contratos referidos
        </a>
      </li>
      <li class="divider"></li>
      <li role="menuitem" ng-click="reviewValidationHistory(client)">
        <a href="">
          <i class="fa fa-fw fa-search"></i> Historial de validación
        </a>
      </li>
      <li class="divider"></li>
      <li role="menuitem" ng-click="createCharge(client)">
        <a href="">
          <i class="fa fa-fw fa-usd"></i> Crear cargo OXXO / SPEI
        </a>
      </li>
      <li role="menuitem" ng-click="reviewCharges(client)">
        <a href="">
          <i class="fa fa-fw fa-usd"></i> Ver cargos
        </a>
      </li>
      <li class="divider"></li>
      <li role="menuitem" ng-click="edit(data)">
        <a href="">
          <i class="fa fa-fw fa-pencil"></i> Editar
        </a>
      </li>
      <li class="divider"></li>
      <li role="menuitem" ng-click="resetPassword(client)">
        <a href="">
          <i class="fa fa-fw fa-key"></i> Reestablecer contraseña
        </a>
      </li>
      <li class="divider"></li>
      <li class="divider"></li>
      <li role="menuitem" ng-click="createTicket(client)">
        <a href="">
          <i class="fa fa-fw fa-ticket"></i> Crear ticket de soporte
        </a>
      </li>
    </ul>
  </div>
</script>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Clientes/Vendedores</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="animated fadeInDown">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Listado</h5>
          </div>
          <div class="ibox-content">
            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5">
                <h3>Status</h3>
                <div class="btn-group btn-group-xs">
                  <label ng-class="['btn', 'btn-default', data.searchStatus.status == '' ? 'active' : '']"
                         ng-click="filterClients('status','')">TODOS</label>
                  <label ng-class="['btn', 'btn-default', data.searchStatus.status == 'standby' ? 'active' : '']"
                         ng-click="filterClients('status','standby')">Pendiente</label>
                  <label ng-class="['btn', 'btn-default', data.searchStatus.status == 'invalid' ? 'active' : '']"
                         ng-click="filterClients('status','invalid')">Inválido</label>
                  <label ng-class="['btn', 'btn-default', data.searchStatus.status == 'canceled' ? 'active' : '']"
                         ng-click="filterClients('status','canceled')">Cancelado</label>
                  <label ng-class="['btn', 'btn-default', data.searchStatus.status == 'rejected' ? 'active' : '']"
                         ng-click="filterClients('status','rejected')">Rechazado</label>
                  <label ng-class="['btn', 'btn-default', data.searchStatus.status == 'accepted' ? 'active' : '']"
                         ng-click="filterClients('status','accepted')">Aceptado</label>
                </div>
              </div>
              <div class="col-md-3">
                <h3>Instalación</h3>
                <div class="btn-group btn-group-xs">
                  <label ng-class="['btn', 'btn-default', data.searchStatus.serial_number == '' ? 'active' : '']"
                         ng-click="filterClients('serial_number','')">TODOS</label>
                  <label
                    ng-class="['btn', 'btn-default', data.searchStatus.serial_number == 'instaled' ? 'active' : '']"
                    ng-click="filterClients('serial_number','instaled')">Instalado</label>
                  <label
                    ng-class="['btn', 'btn-default', data.searchStatus.serial_number == 'not-instaled' ? 'active' : '']"
                    ng-click="filterClients('serial_number','not-instaled')">No instalado</label>
                </div>
              </div>
              <div class="col-md-3">
                <h3>Agente de ventas</h3>
                <div class="btn-group btn-group-xs">
                  <label ng-class="['btn', 'btn-default', data.searchStatus.sales_agent == undefined ? 'active' : '']"
                         ng-click="filterClients('sales_agent',undefined)">TODOS</label>
                  <label ng-class="['btn', 'btn-default', data.searchStatus.sales_agent == 1 ? 'active' : '']"
                         ng-click="filterClients('sales_agent',1)">Activo</label>
                  <label ng-class="['btn', 'btn-default', data.searchStatus.sales_agent == 0 ? 'active' : '']"
                         ng-click="filterClients('sales_agent',0)">Inactivo</label>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <!--<div class="row">
              <div class="col-md-2 col-md-offset-10">
                <div class="btn-group btn-group-sm text-right" dropdown>
                  <button type="button" class="btn"
                          style="width:100%;background-color: #1B7E5A;border-color: #1B7E5A;color:#fff;"
                          ng-disabled="(data.clients | filter:{selected: true}:true).length == 0" dropdown-toggle>
                    <i class="fa fa-users fa-fw fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class="fa fa-fw fa-caret-down"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="split-button">
                    <li role="menuitem">
                      <a href="" ng-click="associateClientsToGroup((data.clients | filter:{selected: true}:true))">
                        <i class="fa fa-arrow-right"></i>
                        &nbsp;&nbsp;Asignar a grupo
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>-->
            <div class="table-responsive">
              <table datatable="" dt-options="data.dtOptions" dt-columns="data.dtColumns" dt-instance="data.dtInstance"
                     class="table table-striped table-hover dataTables-example">
                <!--
                <thead>
                    <tr>
                        <th style="border-right:1px solid #ddd">
                            <label style="cursor:pointer;">
                                <input type="checkbox" icheck iCheck-class="square-green" ng-model="data.selectedAll" ng-change="selectAll()">
                            </label>
                        </th>
                        <th class="exportar esconder">Nombre</th>
                        <th class="exportar esconder">Num. Serie</th>
                        <th class="exportar esconder">Facturación</th>
                        <th>Nombre</th>
                        <th class="exportar">Grupo de ventas</th>
                        <th class="exportar">Fecha alta</th>
                        <th class="exportar">Suscripción</th>
                        <th class="exportar">Email</th>
                        <th class="exportar">Estatus</th>
                        <th>Sig. Pago</th>
                        <th class="text-center">
                            <div class="btn-group btn-group-sm" dropdown>
                                <button type="button" class="btn" style="width:100%;background-color: #1B7E5A;border-color: #1B7E5A;color:#fff;" ng-disabled="(data.clients | filter:{selected: true}:true).length == 0" dropdown-toggle>
                                    <i class="fa fa-users fa-fw fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-fw fa-caret-down"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="split-button">
                                    <li role="menuitem">
                                        <a href="" ng-click="associateClientsToGroup((data.clients | filter:{selected: true}:true))">
                                            <i class="fa fa-arrow-right"></i>
                                            &nbsp;&nbsp;Asignar a grupo
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in data.filteredClients">
                        <td style="border-right:1px solid #ddd">
                            <label style="cursor:pointer;">
                                <input type="checkbox" icheck iCheck-class="square-green" ng-model="client.selected">
                            </label>
                        </td>
                        <td class="exportar esconder">{{client.name}}</td>
                        <td class="exportar esconder">
                            <span ng-if="client.serial_number !== null">
                                {{client.serial_number}}
                            </span>
                        </td>
                        <td class="exportar esconder">
                            <span class="h6" ng-switch on="client.rfc.length == 12 || client.rfc.length == 13">
                                <span ng-switch-when="true" class="text-info">Datos de facturación capturados</span>
                                <span ng-switch-when="false" class="text-warning">Datos de facturación no capturados</span>
                            </span>
                        </td>
                        <td>
                            {{client.name}}<br/>
                            <span class="h6" ng-switch on="client.rfc.length == 12 || client.rfc.length == 13">
                                <span ng-switch-when="true" class="text-info">Datos de facturación capturados</span>
                                <span ng-switch-when="false" class="text-warning">Datos de facturación no capturados</span>
                            </span>
                            <div class="clearfix"></div>
                            <span class="label label-info" ng-if="client.sales_agent == 1">Agente de ventas</span>
                            <div class="clearfix"></div>
                            <span class="h6" ng-if="client.serial_number !== null">
                                <b>Número serie</b><br>
                                <i class="fa fa-tint fa-lg text-info fa-fw"></i>
                                {{client.serial_number}}
                            </span>
                        </td>
                        <td class="exportar">{{getGroup(client.id_groups).name}}</td>
                        <td class="exportar" class="h5">{{client.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
                        <td class="exportar" class="h5" ng-switch="client.subscription_status">
                            <span ng-switch-when="null"     class="label label-default">Faltante</span>
                            <span ng-switch-when="in_trial" class="label label-primary">Periodo de prueba</span>
                            <span ng-switch-when="active"   class="label label-success">Activa</span>
                            <span ng-switch-when="paused"   class="label label-info">Pausada</span>
                            <span ng-switch-when="past_due" class="label label-warning">Fallando</span>
                            <span ng-switch-when="canceled" class="label label-danger">Cancelada</span>
                        </td>
                        <td class="exportar">{{client.email}}</td>
                        <td class="exportar">
                            <span ng-switch on="client.status">
                                <span class="label label-default" ng-switch-when="standby">Pendiente</span>
                                <span class="label label-warning" ng-switch-when="invalid">Invalido</span>
                                <span class="label label-info" ng-switch-when="accepted">
                                    <span ng-if="client.serial_number !== null">Instalado</span>
                                    <span ng-if="client.serial_number == null">Aceptado</span>
                                </span>
                                <span class="label label-danger" ng-switch-when="canceled">Cancelado</span>
                                <span class="label label-danger" ng-switch-when="rejected">Rechazado</span>
                            </span>
                        </td>
                        <td class="exportar">{{client.next_payday | moment:'utc' | moment: 'toDate' | moment: 'format': 'YYYY-MM-DD'}}</td>
                        <td>
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-primary" dropdown-toggle>
                                    Opciones&nbsp;<span class="fa fa-fw fa-caret-down"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="split-button">
                                    <li role="menuitem" ng-click="reviewPurchaseContract(client)">
                                        <a href="">
                                            <i class="fa fa-fw fa-file"></i>
                                            Ver contrato de compra
                                        </a>
                                    </li>
                                    <li role="menuitem" ng-click="reviewReferredContracts(client)">
                                        <a href="">
                                            <i class="fa fa-fw fa-files-o"></i>
                                            Ver contratos referidos
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem" ng-click="reviewValidationHistory(client)">
                                        <a href="">
                                            <i class="fa fa-fw fa-search"></i>
                                            Historial de validación
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem" ng-click="createCharge(client)">
                                        <a href="">
                                            <i class="fa fa-fw fa-usd"></i>
                                            Crear cargo OXXO / SPEI
                                        </a>
                                    </li>
                                    <li role="menuitem" ng-click="reviewCharges(client)">
                                        <a href="">
                                            <i class="fa fa-fw fa-usd"></i>
                                            Ver cargos
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem" ng-click="edit(client)">
                                        <a href="">
                                            <i class="fa fa-fw fa-pencil"></i>
                                            Editar
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem" ng-click="resetPassword(client)">
                                        <a href="">
                                            <i class="fa fa-fw fa-key"></i>
                                            Reestablecer contraseña
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem" ng-if="client.sales_agent == 1" ng-click="setLevel(client,0)">
                                        <a href="">Quitar de agente de ventas</a>
                                    </li>
                                    <li role="menuitem" ng-if="client.sales_agent == 0" ng-click="setLevel(client,1)">
                                        <a href="">Activar como agente de ventas</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem" ng-if="client.status === 'standby'" ng-click="setInvalid(client)">
                                        <a href="">Invalidar cliente</a>
                                    </li>
                                    <li role="menuitem" ng-if="client.status === 'standby' || client.status === 'rejected'" ng-click="setAccepted(client)">
                                        <a href="">Aceptar cliente</a>
                                    </li>
                                    <li role="menuitem" ng-if="client.status === 'accepted'" ng-click="setCancelled(client)">
                                        <a href="">Cancelar cliente</a>
                                    </li>
                                    <li role="menuitem" ng-if="client.status === 'standby'" ng-click="setRejected(client)">
                                        <a href="">Rechazar cliente</a>
                                    </li>
                                    <li role="menuitem" ng-if="client.status === 'rejected'" ng-click="delete(client)">
                                        <a href=""><i class="fa fa-fw fa-trash fa-lg fa-fw"></i>Eliminar cliente</a>
                                    </li>
                                    //no va
                                    <li role="menuitem" ng-if="client.status === 'accepted' && client.serial_number !== null && !client._is_sales_agent" ng-click="makeSalesAgent(client)">
                                        <a href="">Hacer agente de ventas</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem" ng-click="createTicket(client)">
                                        <a href="">
                                            <i class="fa fa-fw fa-ticket"></i>
                                            Crear ticket de soporte
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
                -->
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
