<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Grupos</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown">
                <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>Listado</h5>
	                    <button class="btn btn-success pull-right" ng-click="add()"><i class="fa fa-plus fa-fw"></i>Agregar grupo</button>
	                	<div class="clearfix"></div>
	                </div>
	                <div class="ibox-content table-responsive">
	                    <table datatable="ng" dt-options="data.dtOptions" dt-column-defs="data.dtColumnDefs" class="table table-striped table-hover dataTables-example">
	                        <thead>
	                            <tr>
	                                <th>Nombre</th>
	                                <th>Promoción</th>
	                                <th>Depósito</th>
	                                <th>Cuota de instalación</th>
	                                <th style="border-right:1px solid #ddd">Cuota mensual</th>
	                                <th>Grupo de ventas</th>
	                                <th></th>
	                            </tr>
	                        </thead>
							<tbody>
	                            <tr ng-repeat="group in data.groups">
	                                <td>{{group.name}}</td>
	                                <td>{{group.trial_days}} a {{group.trial_days_price | currency:'$':2}}</td>
	                                <td class="text-right">{{group.deposit | currency:'$':2}}</td>
	                                <td class="text-right">{{group.installation_fee | currency:'$':2}}</td>
	                                <td class="text-right" style="border-right:1px solid #ddd">{{group.monthly_fee | currency:'$':2}}</td>
	                                <td>{{group.sign_into.name}}</td>
	                                <td>
										<div class="btn-group btn-group-xs" dropdown>
											<button type="button" class="btn btn-primary" dropdown-toggle>
												Opciones&nbsp;<span class="fa fa-fw fa-caret-down"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="split-button">
												<li role="menuitem">
													<a href="" ng-click="edit(group)">
														<i class="fa fa-pencil fa-fw"></i>Editar
													</a>
												</li>
												<li role="menuitem">
													<a href="" ng-click="delete(group)" ng-if="group.id_groups !== '1'">
														<i class="fa fa-trash fa-fw"></i>Eliminar
													</a>
												</li>
											</ul>
										</div>
									</td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
            </div>
        </div>
    </div>
</div>
