<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Reestablecimiento de contraseña del cliente {{instance.data.user.name}}</h3>
</div>
<div class="modal-body">
	<div class="row" style="margin-top:20px;">
    	<form class="form-horizontal" name="resetClientPasswordForm" novalidate>
            <div class="form-group" show-errors='{showSuccess: true}'>
            	<label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                	<input type="text"
                		   id="name"
                		   name="name" 
                		   class="form-control"
                		   ng-model="instance.data.user.name"
                           disabled="disabled" 
                		   required>
					<p class="help-block" ng-if="resetClientPasswordForm.name.$error.required">El nombre es requerido</p>
            	</div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group" show-errors='{showSuccess: true}'>
            	<label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                	<input type="email"
                		   id="email"
                		   name="email" 
                		   class="form-control" 
                		   ng-model="instance.data.user.email"
                           disabled="disabled" 
                		   required>
					<p class="help-block" ng-if="resetClientPasswordForm.email.$error.required">El email es requerido</p>
					<p class="help-block" ng-if="resetClientPasswordForm.email.$invalid">Email inválido.</p>
            	</div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group" show-errors='{showSuccess: true}'>
            	<label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                	<input type="password"
                		   id="password"
                		   name="password" 
                		   class="form-control"
                		   ng-model="instance.data.user.password"
                		   required>
					<p class="help-block" ng-if="resetClientPasswordForm.password.$error.required">La contraseña es requerida</p>
            	</div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group" show-errors='{showSuccess: true}'>
            	<label class="col-sm-2 control-label">Confirmar password</label>
                <div class="col-sm-10">
                	<input type="password"
                		   id="checkPassword"
                		   name="checkPassword" 
                		   class="form-control" 
                		   ng-model="instance.data.user.checkPassword"
                		   required>
					<p class="help-block" ng-if="resetClientPasswordForm.checkPassword.$error.required">La verificación de la contraseña es requerida</p>
					<p class="help-block text-danger h3" ng-class="{'block-important': instance.data.user.password !== instance.data.user.checkPassword}">Las contraseñas no coinciden</p>
					<p class="help-block text-danger h3" ng-class="{'block-important': instance.data.user.password.length < 6}">La contraseña debe ser de al menos 6 caracteres</p>
            	</div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-primary" type="button" ladda="instance.data.loading" data-style="zoom-in" data-spinner-color="#3e495f" data-spinner-size="20" ng-click="instance.save(resetClientPasswordForm, instance.data.user)">
                    	<i class="fa fa-floppy-o fa-fw"></i> 
                    	Guardar
                	</button>
                </div>
            </div>
        </form>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
</div>