<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Cargos extras a contratos</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown">
                <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>Categorías</h5>
	                    <button class="btn btn-success pull-right" ng-click="addCategory()"><i class="fa fa-plus fa-fw"></i>Agregar categoría</button>
	                	<div class="clearfix"></div>
	                </div>
	                <div class="ibox-content table-responsive">
	                	<table datatable="ng" dt-options="data.dtOptions" dt-column-defs="data.dtColumnDefs" class="table table-condensed table-bordered">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Descripción</th>
									<th>Fecha de alta</th>
									<th></th>
									<th class="hidden"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="category in data.categories" ng-init="category.loading = false;" toggle-childs>
									<td>{{category.name}}</td>
									<td>{{category.description}}</td>
									<td>{{category.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
									<td> 
				                        <div class="btn-group btn-group-sm">
				                            <button class="btn btn-success" ng-click="addElement(category)"><i class="fa fa-plus fa-fw"></i>Agregar elemento</button>
				                            <button class="btn btn-info showChilds"><i class="fa fa-list fa-fw"></i>Elementos</button>
				                            <button class="btn btn-primary" ng-click="editCategory(category)"><i class="fa fa-pencil-square-o fa-fw"></i> Editar</button>
				                            <button 
				                            	class="btn btn-danger"  
				                            	ladda="category.loading" 
				                            	data-style="zoom-in" 
				                            	data-spinner-color="#3e495f" 
				                            	data-spinner-size="20" 
				                            	ng-click="deleteCategory(category)">
				                            		<i class="fa fa-trash fa-fw"></i> Borrar
		                            		</button>
				                        </div>
									</td>
				                    <td colspan="5" class="hidden childs" style="background-color: #ddd;padding:10px;">
				                        <div class="panel panel-default">
				                            <div class="panel-heading">
				                                <h4>Elementos</h4>
				                            </div>
				                            <table class="table table-condensed table-bordered">
				                                <thead>
				                                    <tr>
				                                        <th>Nombre</th>
				                                        <th>Precio</th>
				                                        <th>Fecha de alta</th>
				                                        <th style="width:200px; !important;min-width:200px; !important; max-width:200px; !important;"></th>
				                                    </tr>
				                                </thead>
				                                <tbody>
				                                    <tr ng-repeat="element in category.elements" ng-init="element.loading = false;">
				                                        <td>{{element.name}}</td>
				                                        <td>{{element.price | currency:'$':2}}</td>
				                                        <td>{{element.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
				                                        <td>
				                                           <div class="btn-group bs-component btn-group-xs">
									                            <button class="btn btn-success" ladda="element.loading" data-style="zoom-in" data-spinner-color="#3e495f" data-spinner-size="20" ng-click="reviewImage(element)"><i class="fa fa fa-file-image-o fa-fw"></i>Imagen</button>
									                            <button class="btn btn-info" ng-click="editElement(category, element)"><i class="fa fa-pencil-square-o fa-fw"></i>Editar</button>
									                            <button class="btn btn-danger" ng-click="deleteElement(category, element)"><i class="fa fa-trash fa-fw"></i>Borrar</button>
									                        </div>
				                                        </td>
				                                    </tr>
				                                </tbody>
				                            </table>
				                        </div>
				                    </td>
								</tr>
							</tbody>
						</table>
	                </div>
	            </div>
            </div>
        </div>
    </div>
</div>