<style type="text/css">
	.h6 {
		font-size:10px;
	}
	.h5 {
		font-size:11px;
	}
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Contratos</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown">
                <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>Listado</h5>
	                </div>
	                <div class="ibox-content table-responsive">
	                    <table datatable="ng" dt-options="data.dtOptions" dt-column-defs="data.dtColumnDefs" class="table table-striped table-hover">
	                        <thead>
	                        	<tr>
	                        		<th colspan="6" style="border-right:1px solid #ddd">
	                        			<h4 class="text-center">Cliente</h4>
                        			</th>
	                        		<th colspan="5">
	                        			<h4 class="text-center">Contrato</h4>
                        			</th>
	                        	</tr>
	                            <tr>
	                                <th>Nombre</th>
	                                <th>Grupo de ventas</th>
	                                <th>Nivel</th>
	                                <th>Fecha de alta</th>
	                                <th>Email</th>
	                                <th style="border-right:1px solid #ddd">Estatus</th>
	                                <th>Subscripción</th>
	                                <th>Depósito</th>
	                                <th>Cuota de instalación</th>
	                                <th>Cuota mensual</th>
	                                <th></th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="contract in data.contracts" ng-init="contract.loading = false;">
	                                <td>
	                                	{{contract.client.name}}<br/>
	                                	<span class="h6" ng-switch on="client.rfc.length == 12 || client.rfc.length == 13">
	                                		<span ng-switch-when="true" class="text-info">Datos de facturación capturados</span>
	                                		<span ng-switch-when="false" class="text-warning">Datos de facturación no capturados</span>
	                                	</span>
	                                </td>
	                                <td>{{contract.client.group.name}}</td>
	                                <td>{{contract.client.level}}</td>
	                                <td class="h5">{{contract.client.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
	                                <td>{{contract.client.email}}</td>
	                                <td style="border-right:1px solid #ddd">
	                                	<span ng-switch on="contract.client.status">
	                                		<span class="label label-default" ng-switch-when="standby">Pendiente</span>
	                                		<span class="label label-warning" ng-switch-when="invalid">Invalido</span>
	                                		<span class="label label-info" ng-switch-when="accepted">Aceptado</span>
	                                		<span class="label label-danger" ng-switch-when="canceled">Cancelado</span>
	                                		<span class="label label-danger" ng-switch-when="rejected">Rechazado</span>
	                                	</span>
	                                </td>
									<td class="h5" ng-switch="contract.client.subscription_status">
										<span ng-switch-when="null"     class="label label-default">Faltante</span>
										<span ng-switch-when="in_trial" class="label label-primary">Periodo de prueba</span>
										<span ng-switch-when="active"   class="label label-success">Activa</span>
										<span ng-switch-when="paused"   class="label label-info">Pausada</span>
										<span ng-switch-when="past_due" class="label label-warning">Fallando</span>
										<span ng-switch-when="canceled" class="label label-danger">Cancelada</span>
									</td>
	                                <td>{{contract.client.deposit | currency:'$':2}}</td>
	                                <td>{{contract.client.installation_fee | currency:'$':2}}</td>
	                                <td>{{contract.client.monthly_fee | currency:'$':2}}</td>
	                                <td>
	                                	<div class="btn-group btn-group-xs" dropdown>
								            <button type="button" class="btn btn-primary" ng-disabled="instance.data.client.status === 'invalid'" dropdown-toggle>
								            	Opciones&nbsp;
								            	<span class="fa fa-fw fa-caret-down"></span>
							            	</button>
								            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="split-button">
								                <li role="menuitem">
													<a href="" ng-click="reviewImages(contract)">
														<i class="fa fa-picture-o fa-fw"></i>
														Ver fotos del contrato
													</a>
												</li>
												<li role="menuitem">
													<a href="" ng-click="reviewDetails(contract)">
														<i class="fa fa-eye fa-fw"></i>
														Ver detalles del contrato
													</a>
												</li>
								            </ul>
								        </div>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
            </div>
        </div>
    </div>
</div>
