<div class="modal-header">
    <button type="button" class="close" ng-click="instance.dismiss()"><i class="fa fa-times fa-lg text-danger"></i></button>
    <h3 class="modal-title">Cerrar el ticket {{instance.data.ticket.id_tickets}} del cliente {{instance.data.ticket.client.name}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <form name="closeTicketForm" novalidate>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="form-group" show-errors='{showSuccess: true}'>
                        <h2>Couta final de servicio</h2>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-dollar"></i>
                            </span>
                            <input type="number" 
                               min="0" step="1"
                               class="form-control input-lg"
                               id="final_service_fee"
                               name="final_service_fee"
                               ng-model="instance.data.ticket.final_service_fee"
                               required/>
                        </div>
                        <p class="help-block" ng-if="closeTicketForm.final_service_fee.$error.required">La cuota final es requerida</p>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="form-group" show-errors='{showSuccess: true}'>
                        <h2>Razones de la couta final</h2>
                        <textarea 
                            class="form-control"
                            id="final_service_fee_reasons"
                            name="final_service_fee_reasons"
                            style="resize:vertical;"
                            ng-model="instance.data.ticket.final_service_fee_reasons"
                            required>
                        </textarea>
                        <p class="help-block" ng-if="closeTicketForm.final_service_fee_reasons.$error.required">Las razones de la cuota final son requeridas</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="instance.dismiss()">Cancelar</button>
  <button class="btn btn-info btn-lg" 
    ladda="instance.data.loading" 
    data-style="zoom-in" 
    data-spinner-color="#3e495f" 
    data-spinner-size="20" 
    ng-click="instance.close(closeTicketForm, instance.data.ticket)">
    Cerrar Ticket
</button>
</div>