<style>
    .popover {
        max-width: 350px;
        z-index: 999999;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Seguimiento de Tickets</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown" ng-class="{
        		'fadeInDown': data.technician === undefined,
        		'slideInRight': data.technician.id !== undefined
            	}">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Tickets</h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ibox-content">
                        <div ng-switch on="data.technician.id === undefined">
                            <div ng-switch-when="true" class="btn-group">
                                <label ng-class="['btn', 'btn-default', data.searchStatus.status == '' ? 'active' : '']" ng-click="filterTickets('')">TODOS</label>
                                <label ng-class="['btn', 'btn-default', data.searchStatus.status == 'opened' ? 'active' : '']" ng-click="filterTickets('opened')">Abierto</label>
                                <label ng-class="['btn', 'btn-default', data.searchStatus.status == 'assigned' ? 'active' : '']" ng-click="filterTickets('assigned')">Asignado</label>
                                <label ng-class="['btn', 'btn-default', data.searchStatus.status == 'completed' ? 'active' : '']" ng-click="filterTickets('completed')">Completado por el técnico</label>
                                <label ng-class="['btn', 'btn-default', data.searchStatus.status == 'confirmed' ? 'active' : '']" ng-click="filterTickets('confirmed')">Firmado por el cliente</label>
                                <label ng-class="['btn', 'btn-default', data.searchStatus.status == 'closed' ? 'active' : '']" ng-click="filterTickets('closed')">Cerrado</label>
                            </div>
                            <div ng-switch-when="false" class="row" style="margin-bottom:15px;">
                                <div class="col-md-offset-2 col-md-8">
                                    <div class="widget-head-color-box navy-bg p-lg text-center">
                                        <div class="m-b-md">
                                            <h2 class="font-bold no-margins">{{data.technician.name}}</h2>
                                            <small>Contractor: {{data.technician.contractor}}</small>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-4">
                                                <img ng-src="{{data.technician.imageSrc}}" class="img-circle circle-border m-b-md" style="width:100%;">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="h4">
                                                <i class="fa fa-envelope fa-lg fa-fw"></i>{{data.technician.email}}
                                            </p>
                                            <p class="h4">
                                                <i class="fa fa-phone fa-lg fa-fw"></i>{{data.technician.phone}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="widget-text-box text-center">
                                        <div class="btn-group">
                                            <label class="btn btn-default" ng-model="data.searchStatus.status" ng-click="filterTickets(data.tickets)" btn-radio="''">TODOS</label>
                                            <label class="btn btn-default" ng-model="data.searchStatus.status" ng-click="filterTickets(data.tickets)" btn-radio="'completed'">Completado por el técnico</label>
                                            <label class="btn btn-default" ng-model="data.searchStatus.status" ng-click="filterTickets(data.tickets)" btn-radio="'confirmed'">Firmado por el cliente</label>
                                            <label class="btn btn-default" ng-model="data.searchStatus.status" ng-click="filterTickets(data.tickets)" btn-radio="'closed'">Cerrado</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table datatable=" " dt-options="data.dtOptions" dt-columns="data.dtColumns" dt-instance="data.dtInstance" class="table table-hover issue-tracker">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="last-assigned-technician.html">
    <div ng-switch on="data.lastAssignedTechnician === null">
        <div class="text-center" ng-switch-when="true">
            <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
        <div class="row" ng-switch-when="false">
            <div class="col-md-4 text-center">
                <div class="m-b-sm">
                    <img alt="image" class="img-circle" ng-src="{{data.lastAssignedTechnician.technician.imageSrc}}" style="width: 80px">
                </div>
            </div>
            <div class="col-md-8">
                <h2 style="margin-top:0px;">{{data.lastAssignedTechnician.technician.name}}</h2>
                <p>
                    <small>
		                <i class="fa fa-envelope fa-lg fa-fw text-muted"></i>{{data.lastAssignedTechnician.technician.email}}
		            </small>
                </p>
                <p>
                    <small>
		                <i class="fa fa-phone fa-lg fa-fw text-muted"></i>{{data.lastAssignedTechnician.technician.phone}}
		            </small>
                </p>
            </div>
            <div class="col-md-12 text-center h5" ng-if="data.lastAssignedTechnician.ticket.status === 'assigned'">
                <p>
                    <b>Tiempo transcurrido desde la asignación</b><br/>
                    <span class="text-warning">{{dateDiff(data.lastAssignedTechnician.created_at)}}</span>
                </p>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="ticket-details.html">
    <h4>Error Code</h4>
    <dl class="dl-horizontal">
        <dt>Code</dt>
        <dd>{{data.selectedTicket.error_code.code}}</dd>
        <dt>Category</dt>
        <dd>{{data.selectedTicket.error_code.category}}</dd>
        <dt>Name</dt>
        <dd>{{data.selectedTicket.error_code.name}}</dd>
    </dl>
    <h4>Ticket</h4>
    <dl class="dl-horizontal">
        <dt>Costo estimado</dt>
        <dd>{{data.selectedTicket.estimated_service_fee | currency:'$':2}}</dd>
        <dt>Razones</dt>
        <dd>{{data.selectedTicket.estimated_service_fee_reasons}}</dd>
        <dt>Costo final</dt>
        <dd>{{data.selectedTicket.final_service_fee | currency:'$':2}}</dd>
        <dt>Razones</dt>
        <dd>{{data.selectedTicket.final_service_fee_reasons}}</dd>
    </dl>
</script>