<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Asignación de ticket</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
            <div class="animated fadeInDown">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Técnicos</h2>
                        <p>
                            Selecciona el nombre de algún técnico
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="table-responsive">
                            <table 
                                style="margin-left:15px;"
                                datatable="ng" 
                                dt-options="instance.data.dtOptions" 
                                dt-column-defs="instance.data.dtColumnDefs" 
                                class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>Teléfono</th>
                                        <th>Fecha de alta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="technician in instance.data.technicians" ng-init="technician.loading = false;">
                                        <td>
                                            <i 
                                                style="position:absolute;margin-left:-40px;"
                                                class="fa fa-hand-o-right fa-2x text-info"
                                                ng-show="technician === instance.data.selectedTechnician" 
                                                ></i>
                                            <a class="client-link" ng-click="instance.selectTechnician(technician)">
                                                {{technician.name}}
                                            </a>
                                        </td>
                                        <td>{{technician.email}}</td>
                                        <td>{{technician.phone}}</td>
                                        <td>{{technician.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row" style="background: #F1f1f1;border-radius: 13px;margin-top:-70px;margin-bottom:10px;">
                            <div class="col-md-12">
                                <h2>Datos del cliente</h2>
                                <dl class="dl-horizontal">
                                    <dt>Nombre</dt>
                                    <dd ng-switch on="instance.data.ticket.client.name.trim() === ''">
                                        <span ng-switch-when="true"><b>No proporcionado</b></span>
                                        <span ng-switch-when="false">{{instance.data.ticket.client.name}}</span>
                                    </dd>
                                    <dt>Fecha de alta</dt>
                                    <dd>{{instance.data.ticket.client.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</dd>
                                    <dt>Email</dt>
                                    <dd ng-switch on="instance.data.ticket.client.email.trim() === ''">
                                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                        <span ng-switch-when="false">{{instance.data.ticket.client.email}}</span>
                                    </dd>
                                    <dt>Teléfono</dt>
                                    <dd ng-switch on="instance.data.ticket.client.phone.trim() === ''">
                                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                        <span ng-switch-when="false">{{instance.data.ticket.client.phone}}</span>
                                    </dd>
                                    <dt>Dirección</dt>
                                    <dd ng-switch on="instance.data.ticket.client.address.trim() === ''">
                                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                        <span ng-switch-when="false">{{instance.data.ticket.client.address}}</span>
                                    </dd>
                                    <dt>Entre</dt>
                                    <dd ng-switch on="instance.data.ticket.client.between_streets.trim() === ''">
                                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                        <span ng-switch-when="false">{{instance.data.ticket.client.between_streets}}</span>
                                    </dd>
                                    <dt>Colonia</dt>
                                    <dd ng-switch on="instance.data.ticket.client.colony.trim() === ''">
                                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                        <span ng-switch-when="false">{{instance.data.ticket.client.colony}}</span>
                                    </dd>
                                    <dt>Código postal</dt>
                                    <dd ng-switch on="instance.data.ticket.client.postal_code.trim() === ''">
                                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                        <span ng-switch-when="false">{{instance.data.ticket.client.postal_code}}</span>
                                    </dd>
                                    <dt>Estado</dt>
                                    <dd ng-switch on="instance.data.ticket.client.state.trim() === ''">
                                        <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                        <span ng-switch-when="false">{{instance.data.ticket.client.state}}</span>
                                    </dd>
                                    <dt>Status</dt>
                                    <dd>
                                        <span ng-switch on="instance.data.ticket.client.status">
                                            <span class="label label-default" ng-switch-when="standby">Pendiente</span>
                                            <span class="label label-warning" ng-switch-when="invalid">Invalido</span>
                                            <span class="label label-info" ng-switch-when="accepted">Aceptado</span>
                                            <span class="label label-danger" ng-switch-when="canceled">Cancelado</span>
                                            <span class="label label-danger" ng-switch-when="rejected">Rechazado</span>
                                        </span>
                                    </dd>
                                    <dt>Nivel</dt>
                                    <dd>{{instance.data.ticket.client.level}}</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row" ng-if="instance.data.selectedTechnician" style="background: #F1f1f1;border-radius: 13px;">
                            <div class="col-md-12">
                                <h2>Datos del técnico seleccionado</h2>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="m-b-sm">
                                    <img alt="image" class="img-circle" ng-src="{{instance.data.selectedTechnician.imageSrc}}" style="width: 62px">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h3 style="margin-top:0px;">{{instance.data.selectedTechnician.name}}</h3>
                                <p><i class="fa fa-envelope fa-lg fa-fw text-muted"></i> {{instance.data.selectedTechnician.email}}</p>
                                <p><i class="fa fa-phone fa-lg fa-fw text-muted"></i> {{instance.data.selectedTechnician.phone}}</p>
                            </div>
                            <div class="col-md-12 text-center">
                                <button 
                                    type="button" 
                                    class="btn btn-success btn-lg btn-block" 
                                    style="margin-bottom:10px;"
                                    ladda="instance.data.loading" 
                                    data-style="zoom-in" 
                                    data-spinner-color="#3e495f" 
                                    data-spinner-size="20" 
                                    ng-click="instance.assign(instance.data.ticket, instance.data.selectedTechnician)">
                                    <i class="fa fa-envelope fa-fw"></i><i class="fa fa-ticket fa-fw"></i><br/>
                                    Asignar ticket y enviar mensaje
                                </button>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
		</div>
	</div>
</div>
