<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Facturas</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listado</h5>
                    </div>
                    <div class="ibox-content table-responsive">
                        <table datatable="" dt-options="data.dtOptions" dt-columns="data.dtColumns" dt-instance="data.dtInstance" class="table table-striped table-hover dataTables-example">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>