<style>
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default.active {
    color: #333 !important;;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;;
}
.input-group[class*=col-] {
    float: left;
    padding: 0 5px 5px 5px;
}
.border {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #f3f3f4;
}
.border-white {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #fff;
}
</style>
<div class="wrapper wrapper-content animated bounce">
    <div class="row">
        <div class="col-md-3 widget style1 lazur-bg border">
            <div class="row">
                <div class="col-xs-2">
                    <i class="fa fa-line-chart fa-2x"></i>
                </div>
                <div class="col-xs-10 text-right">
                    <span>Ingresos</span><br/>
                    <span style="font-size: 20px;" class="font-bold">{{dashboard.totals.income | currency:'$':2}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget style1 yellow-bg border">
            <div class="row">
                <div class="col-xs-2">
                    <i class="fa fa-hand-peace-o fa-2x"></i>
                </div>
                <div class="col-xs-10 text-right">
                    <span>Responsabilidad Social</span><br/>
                    <span style="font-size: 20px;" class="font-bold">{{(dashboard.totals.sr) | currency:'$':2}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget style1 blue-bg border">
            <div class="row">
                <div class="col-xs-2">
                    <i class="fa fa-user fa-2x"></i>
                </div>
                <div class="col-xs-10 text-right">
                    <span>Usuarios activos</span><br/>
                    <span style="font-size: 20px;" class="font-bold">
                        {{dashboard.totals.clients}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget style1 red-bg border">
            <div class="row">
                <div class="col-xs-2">
                    <i class="fa fa-warning fa-2x"></i>
                </div>
                <div class="col-xs-10 text-right">
                    <span>Deudas</span><br/>
                    <span style="font-size: 20px;" class="font-bold">
                        {{dashboard.totals.debts | currency:'$':2}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9"><div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Clientes</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-hover no-margins">
                    <thead>
                        <tr>
                            <th>Estatus</th>
                            <th>Instalados</th>
                            <th>Cobrados</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in dashboard.clients">
                            <td>
                                <div ng-switch="client.status">
                                    <div ng-switch-when="standby">Pendiente</div>
                                    <div ng-switch-when="accepted">Aceptado</div>
                                    <div ng-switch-when="rejected">Rechazado</div>
                                    <div ng-switch-when="invalid">Inválido</div>
                                    <div ng-switch-when="canceled">Cancelado</div>
                                </div>
                            </td>
                            <td>{{client.installed}}</td>
                            <td>{{client.charged}}</td>
                            <td>{{client.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div></div>
        <div class="col-md-3"><div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Tickets</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-hover no-margins">
                    <thead>
                        <tr>
                            <th>Estatus</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>Abiertos</td><td>{{dashboard.tickets.opened}}</td></tr>
                        <tr><td>Asignados</td><td>{{dashboard.tickets.assigned}}</td></tr>
                        <tr><td>Completados</td><td>{{dashboard.tickets.completed}}</td></tr>
                        <tr><td>Confirmados</td><td>{{dashboard.tickets.confirmed}}</td></tr>
                        <tr><td>Cerrados</td><td>{{dashboard.tickets.closed}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div></div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-3 input-group">
                            <span class="input-group-addon">Desde</span>
                            <input datepicker-popup="dd-MMM-yyyy" is-open="isFromOpen" ng-click="isFromOpen = true" ng-model="from" class="form-control" clear-text="Limpiar" close-text="Cerrar" current-text="Hoy" datepicker-options="{startingDay: 1, showWeeks: false}" type="text" />
                        </div>
                        <div class="col-md-3 input-group">
                            <span class="input-group-addon">Hasta&nbsp;</span>
                            <input datepicker-popup="dd-MMM-yyyy" is-open="isToOpen" ng-click="isToOpen = true" ng-model="to" class="form-control" clear-text="Limpiar" close-text="Cerrar" current-text="Hoy" datepicker-options="{startingDay: 1, showWeeks: false}" type="text" />
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" style="width: 100%" ng-click="getDashboard(from, to)">Buscar</button>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Nuevas Suscripciones</h2>
                            <highchart config="suscriptionsChart"></highchart>

                            <h2>Ingresos</h2>
                            <highchart config="incomesChart"></highchart>
                            <div class="row">
                                <div class="col-md-offset-8 col-md-4">
                                    <ul class="stat-list">
                                        <li>
                                            <h2 class="no-margins">{{dashboard.incomes_total | currency:'$':2}} MXN</h2>
                                            <small>Porcentaje de ingresos seleccionados</small>
                                            <div class="stat-percent">{{incomesPercent()}}%</div>
                                            <div class="progress progress-mini">
                                                <div ng-style="{'width': incomesPercent() + '%'}" class="progress-bar"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h2 class="no-margins ">{{dashboard.sr_total | currency:'$':2}} MXN</h2>
                                            <small>Porcentaje de Responsabilidad Social seleccionada</small>
                                            <div class="stat-percent">{{socialPercent()}}%</div>
                                            <div class="progress progress-mini">
                                                <div ng-style="{'width': socialPercent() + '%'}" class="progress-bar"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h2>Cancelaciones</h2>
                            <highchart config="eventsChart"></highchart>
                            <h2>Google Analytics</h2>
                            <div class="row">
                                <div class="col-md-4 widget style1 navy-bg border-white">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span>Usuarios</span><br/>
                                            <span style="font-size: 20px;" class="font-bold">{{dashboard.general[0][0]}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 widget style1 navy-bg border-white">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span>Sesiones</span><br/>
                                            <span style="font-size: 20px;" class="font-bold">{{dashboard.general[0][1]}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 widget style1 navy-bg border-white">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span>Visualizaciones de pantalla</span><br/>
                                            <span style="font-size: 20px;" class="font-bold">{{dashboard.general[0][2]}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 widget style1 navy-bg border-white">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span>Pantallas/Sesión</span><br/>
                                            <span style="font-size: 20px;" class="font-bold">{{dashboard.general[0][3] | number:2}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 widget style1 navy-bg border-white">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span>Duración media de la sesión</span><br/>
                                            <span style="font-size: 20px;" class="font-bold">
                                                {{dashboard.general[0][4] | secondsToDate | date:'HH:mm:ss'}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 widget style1 navy-bg border-white">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span>% de nuevas sesiones</span><br/>
                                            <span style="font-size: 20px;" class="font-bold">{{dashboard.general[0][5] | number:2}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-hover no-margins">
                                    <thead>
                                        <tr>
                                            <th>Nombre en pantalla</th>
                                            <th>Visualizaciones</th>
                                            <th>Visualizaciones únicas</th>
                                            <th>Media del tiempo en la pantalla</th>
                                            <th>% de salidas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in dashboard.views">
                                            <td>{{x[0]}}</td>
                                            <td>{{x[1]}}</td>
                                            <td>{{x[2]}}</td>
                                            <td>{{x[3]|number:2}}</td>
                                            <td>{{x[4]|number:2}}%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
