<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">
        Respuestas a la encuesta: {{instance.data.poll.name}}
    </h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="wrapper wrapper-content">
	            <div class="animated fadeInDown">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-6">
                            <dl class="dl-horizontal">
                                <dt>Fecha inicio</dt>
                                <dd>{{instance.data.poll.start_date | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY'}}</dd>
                                <dt>Fecha fin</dt>
                                <dd>{{instance.data.poll.end_date | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY'}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="table-responsive">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <thead>
                                                <th>Pregunta</th>
                                                <th></th>
                                            </thead>
                                        </tr>
                                    </thead>   
                                    <tbody>
                                        <tr ng-repeat="(question, answers) in instance.data.questions">
                                            <td>
                                                {{question}}
                                            </td>
                                            <td>
                                                <button 
                                                    class="btn btn-primary btn-sm"
                                                    ng-click="instance.reviewChart(question, answers)">
                                                    <i class="fa fa-pie-chart fa-fw fa-lg"></i>
                                                    <i class="fa fa-arrow-right fa-fw fa-lg"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <highchart class="estadistica" config="instance.data.chart" ng-if="instance.data.chart.series[0].data.length > 0"></highchart>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Pregunta</th>
                                            <th># veces seleccionada</th>
                                            <th>Porcentaje</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(question, answers) in instance.data.answers">
                                            <td><span style="font-size:16px; color: #23b7e5;font-weight: bold;">{{$index + 1}}</span></td>
                                            <td>{{question}}</td>
                                            <td>{{answers.length}}</td>
                                            <td>{{((answers.length * 100) / instance.data.totalAnswers) | currency:'':2}} %</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
	            </div>
	        </div>
		</div>
	</div>
</div>
