<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">
        Encuesta: {{instance.data.poll.name}}
    </h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="wrapper wrapper-content">
	            <div class="animated fadeInDown">
                    <div class="row">
                        <div class="col-md-12">
                            <dl class="dl-horizontal">
                                <dt>Fecha inicio</dt>
                                <dd>{{instance.data.poll.start_date | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</dd>
                                <dt>Fecha fin</dt>
                                <dd>{{instance.data.poll.end_date | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <accordion close-others="false">
                                <accordion-group ng-repeat="question in instance.data.poll.questions">
                                    <accordion-heading>
                                        <h3>
                                            <span ng-switch on="question.type">
                                                <span ng-switch-when="multiple" class="label label-info">Múltipe</span>
                                                <span ng-switch-when="single" class="label label-primary">Sencilla</span>
                                            </span>
                                            {{question.description}}
                                        </h3>
                                    </accordion-heading>
                                    <ol>
                                        <li ng-repeat="option in question.options">{{option.description}}</li>
                                    </ol>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
	            </div>
	        </div>
		</div>
	</div>
</div>
