<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Post</h3>
</div>
<div class="modal-body">
	<div class="row" style="margin-top:20px;">
    	<form class="form-horizontal" name="addPostForm" novalidate>
			<div class="form-group">
                <label class="col-sm-2 control-label">Título</label>
                <div class="col-sm-10">
					<input
						type="text"
						id="title"
						name="title"
						class="form-control"
						ng-model="instance.data.post.title"
					/>
                </div>
            </div>
			<div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Texto</label>
                <div class="col-sm-10">
					<textarea
						id="text"
						name="text"
						class="form-control"
						ng-model="instance.data.post.text"
						style="resize:none; height: 400px;"
					>
					</textarea>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Imagen</label>
				<div class="col-sm-10">
					<img ng-src="{{instance.data.post.image}}" style="width:100%;overflow: scroll;" ng-if="instance.data.post.image"/>
					<div class="btn-group">
						<span class="btn btn-primary btn-file fa fa-picture-o">
							Selecciona foto
							<input type="file" name="elementImage" id="elementImage" onchange="angular.element(this).scope().instance.loadImage(this)" />
						</span>
						<span class="btn btn-warning btn-file fa fa-times" ng-click="instance.removeImage()">Eliminar foto</span>
					</div>
				</div>
			</div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button
                        type="button"
                        class="btn btn-primary"
                        ladda="instance.data.loading"
                        data-style="zoom-in"
                        data-spinner-color="#3e495f"
                        data-spinner-size="20"
                        ng-click="instance.save(addPostForm, instance.data.post)">
                    	<i class="fa fa-floppy-o fa-fw"></i>
                    	Guardar
                	</button>
                </div>
            </div>
        </form>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
</div>
