<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Notificaciones</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <tabset>
                            <tab heading="Notificar usuario">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row" style="margin:0;">
                                                    <div class="input-group col-md-12">
                                                        <input type="text" id="name" name="name" class="form-control" ng-model="data.name" placeholder="Nombre">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-info" ng-click="searchUser(data.name)" style="width:100%;"><i class="fa fa-search"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive" style="min-height: 300px; max-height: 300px;">
                            	                    <table class="table table-striped table-hover">
                            	                        <tbody>
                            	                            <tr ng-repeat="user in data.users">
                            	                                <td>{{user.name}}</td>
                                                                <td><button class="btn btn-info" ng-click="selectUser(user)" style="width:100%;">Seleccionar</button></td>
                            	                            </tr>
                            	                        </tbody>
                            	                    </table>
                            	                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row" style="margin:0; height:35px; line-height:35px; text-align:center;">
                                                    <div class="col-md-12">
                                                        <i>Usuarios seleccionados</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive" style="min-height: 300px; max-height: 300px;">
                            	                    <table class="table table-striped table-hover">
                            	                        <tbody>
                            	                            <tr ng-repeat="user in data.selectedUsers">
                            	                                <td>{{user.name}}</td>
                                                                <td><button class="btn btn-info" ng-click="removeUser(user)" style="width:100%;">Remover</button></td>
                            	                            </tr>
                            	                        </tbody>
                            	                    </table>
                            	                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Mensaje</label>
                                        <textarea id="message" name="message" class="form-control" ng-model="data.message" style="height:200px; resize:none;" required></textarea><br/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-10 col-md-2">
                                        <button class="btn btn-info" ng-click="notifyUser(data.message, data.selectedUsers)" ng-disabled="!data.selectedUsers.length" style="width:100%;"><i class="fa fa-send"></i>Notificar</button>
                                    </div>
                                </div>
                            </tab>
                            <tab>
                                <tab-heading>Notificar grupo</tab-heading>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row" style="margin:0; height:35px; line-height:35px; text-align:center;">
                                                    <i>Grupos</i>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive" style="min-height: 300px; max-height: 300px;">
                            	                    <table class="table table-striped table-hover">
                            	                        <tbody>
                            	                            <tr ng-repeat="group in data.groups">
                            	                                <td>{{group.name}}</td>
                                                                <td><button class="btn btn-info" ng-click="selectGroup(group)" style="width:100%;">Seleccionar</button></td>
                            	                            </tr>
                            	                        </tbody>
                            	                    </table>
                            	                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row" style="margin:0; height:35px; line-height:35px; text-align:center;">
                                                    <div class="col-md-12">
                                                        <i>Grupos seleccionados</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive" style="min-height: 300px; max-height: 300px;">
                            	                    <table class="table table-striped table-hover">
                            	                        <tbody>
                            	                            <tr ng-repeat="group in data.selectedGroups">
                            	                                <td>{{group.name}}</td>
                                                                <td><button class="btn btn-info" ng-click="removeGroup(group)" style="width:100%;">Remover</button></td>
                            	                            </tr>
                            	                        </tbody>
                            	                    </table>
                            	                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Mensaje</label>
                                        <textarea id="message" name="message" class="form-control" ng-model="data.message" style="height:200px; resize:none;" required></textarea><br/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-10 col-md-2">
                                        <button class="btn btn-info" ng-click="notifyGroup(data.message, data.selectedGroups)" ng-disabled="!data.selectedGroups.length" style="width:100%;"><i class="fa fa-send"></i>Notificar</button>
                                    </div>
                                </div>
                            </tab>
                            <tab>
                                <tab-heading>Notificar rol</tab-heading>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row" style="margin:0; height:35px; line-height:35px; text-align:center;">
                                                    <i>Roles</i>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive" style="min-height: 300px; max-height: 300px;">
                            	                    <table class="table table-striped table-hover">
                            	                        <tbody>
                            	                            <tr ng-repeat="role in data.roles">
                            	                                <td>{{role.display_name}}</td>
                                                                <td><button class="btn btn-info" ng-click="selectRole(role)" style="width:100%;">Seleccionar</button></td>
                            	                            </tr>
                            	                        </tbody>
                            	                    </table>
                            	                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row" style="margin:0; height:35px; line-height:35px; text-align:center;">
                                                    <div class="col-md-12">
                                                        <i>Roles seleccionados</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive" style="min-height: 300px; max-height: 300px;">
                            	                    <table class="table table-striped table-hover">
                            	                        <tbody>
                            	                            <tr ng-repeat="role in data.selectedRoles">
                            	                                <td>{{role.display_name}}</td>
                                                                <td><button class="btn btn-info" ng-click="removeRole(role)" style="width:100%;">Remover</button></td>
                            	                            </tr>
                            	                        </tbody>
                            	                    </table>
                            	                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Mensaje</label>
                                        <textarea id="message" name="message" class="form-control" ng-model="data.message" style="height:200px; resize:none;" required></textarea><br/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-10 col-md-2">
                                        <button class="btn btn-info" ng-click="notifyRole(data.message, data.selectedRoles)" ng-disabled="!data.selectedRoles.length" style="width:100%;"><i class="fa fa-send"></i>Notificar</button>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
