<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Responsabilidad Social</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown">
                <div class="ibox float-e-margins">
	                <div class="ibox-title">
                        <div class="row">
                            <div class="col-md-4 widget style1 navy-bg" style="border: 5px solid white;">
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <span>Balance</span>
                                        <h2 class="font-bold">{{data.balance | currency:'$ ':2}}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-md-offset-6">
                                <button type="button" class="btn btn-primary" ng-click="openWithdrawal()" style="width: 100%;">Registrar retiro</button>
                            </div>
                        </div>
	                </div>
	                <div class="ibox-content table-responsive">
	                    <table datatable="ng" class="table table-striped table-hover">
	                        <thead>
	                            <tr>
	                                <th>Cantidad</th>
	                                <th>Fecha</th>
	                                <th>Reason</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="withdrawal in data.withdrawals">
                                    <td>{{withdrawal.amount | currency:'$ ':2}}</td>
	                                <td>{{withdrawal.date | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
	                                <td>{{withdrawal.reason}}</td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
            </div>
        </div>
    </div>
</div>
