<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Técnicos</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown">
                <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>Listado</h5>
	                    <button class="btn btn-success pull-right" ng-click="add()"><i class="fa fa-plus fa-fw"></i>Agregar técnico</button>
	                	<div class="clearfix"></div>
	                </div>
	                <div class="ibox-content table-responsive">
	                    <table datatable="ng" dt-options="data.dtOptions" dt-column-defs="data.dtColumnDefs" class="table table-striped table-hover">
	                        <thead>
	                            <tr>
	                                <th>Nombre</th>
	                                <th>Contratista</th>
	                                <th>Correo</th>
	                                <th>Teléfono</th>
	                                <th>Fecha de alta</th>
                                    <th>Status</th>
	                                <th></th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="technician in data.technicians">
	                                <td>{{technician.name}}</td>
	                                <td>{{technician.contractor}}</td>
	                                <td>{{technician.email}}</td>
	                                <td>{{technician.phone}}</td>
	                                <td>{{technician.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
                                    <td>    
                                          
                                            
                                             <button type="button"
                                                ng-click="toogleStatus($index,technician)"
                                                ng-class="{'btn btn-danger': technician.status == true , 'btn btn-primary':  technician.status == false}"
                                                >
                                                {{ (technician.status) ? 'Desactivar': 'Activar' }}  	
							            	</button>
            
                                    </td> 
	                                <td>
	                                	<div class="btn-group btn-group-xs" dropdown>
								            <button type="button" class="btn btn-primary" dropdown-toggle>
								            	Opciones&nbsp;
								            	<span class="fa fa-fw fa-caret-down"></span>
							            	</button>
								            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="split-button">
								                <li role="menuitem">
													<a href="" ng-click="reviewImage(technician)">
														<i class="fa fa-file-image-o fa-fw fa-lg"></i>
														Imagen
													</a>
												</li>
												<li role="menuitem">
													<a href="" ng-click="edit(technician)">
														<i class="fa fa-pencil fa-fw fa-lg"></i>
														Editar
													</a>
												</li>
												<li class="divider"></li>
												<li role="menuitem">
													<a href="" ui-sref="app.error-tickets({'id_technicians': technician.id})">
														<i class="fa fa-ticket fa-fw fa-lg"></i>
														Tickets asignados
													</a>
												</li>
								            </ul>
								        </div>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
            </div>
        </div>
    </div>
</div>
