<style>
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default.active {
    color: #333 !important;;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;;
}
</style>
<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Retiro</h3>
</div>
<div class="modal-body">
	<div class="row" style="margin-top:20px;">
    	<form class="form-horizontal" name="withdrawForm" novalidate>
			<div class="form-group">
                <label class="col-sm-2 control-label">Monto</label>
                <div class="col-sm-10">
					<input
						type="number"
						min="0"
						id="amount"
						name="amount"
						class="form-control"
						ng-model="instance.data.withdrawal.amount"
						required="required"
					/>
                </div>
            </div>
			<div class="form-group">
                <label class="col-sm-2 control-label">Fecha</label>
                <div class="col-sm-10">
					<input
						datepicker-popup="dd-MMM-yyyy"
						is-open="instance.data.dpOpened"
						ng-click="instance.data.dpOpened = true"
						ng-model="instance.data.withdrawal.date"
						class="form-control"
						clear-text="Limpiar"
						close-text="Cerrar"
						current-text="Hoy"
						datepicker-options="{startingDay: 1, showWeeks: false}"
						type="text"
						required="required"
					/>
                </div>
            </div>
			<div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Razón</label>
                <div class="col-sm-10">
					<textarea
						id="reason"
						name="reason"
						class="form-control"
						ng-model="instance.data.withdrawal.reason"
						style="resize:none; height: 300px;"
						required="required"
					>
					</textarea>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button
                        type="button"
                        class="btn btn-primary"
                        ladda="instance.data.loading"
                        data-style="zoom-in"
                        data-spinner-color="#3e495f"
                        data-spinner-size="20"
                        ng-click="instance.withdraw(withdrawForm, instance.data.withdrawal)">
                    	<i class="fa fa-floppy-o fa-fw"></i>
                    	Guardar
                	</button>
                </div>
            </div>
        </form>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
</div>
