<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" dropdown>
                    <span>
                        <img alt="image" src="images/logo-aguagente-white.png" style="width:18%;">
                    </span>
                    <a class="dropdown-toggle" dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{currentUser.name}}</strong>
                            </span>
                        </span>
                        <span class="text-muted text-xs block">Opciones <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img src="images/logo-aguagente-white.png" style="width:50%;">
                </div>
            </li>
            <li ng-class="{active: $state.includes('main')}">
                <a><i class="fa fa-th-large"></i><span class="nav-label">Menú</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('main')}">
                    <li ui-sref-active="active">
                        <a ui-sref="app.main">Dashboard</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('clients')}">
                <a><i class="fa fa-users"></i><span class="nav-label">Clientes/Vendedores</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('clients')}">
                    <li ui-sref-active="active">
                        <a ui-sref="app.clients">Listado</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.clients-groups">Grupos</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.clients-commissions">Comisiones</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('contracts')}">
                <a><i class="fa fa-files-o"></i><span class="nav-label">Contratos</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('contracts')}">
                    <li ui-sref-active="active">
                        <a ui-sref="app.contracts">Listado</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.contracts-extras">Extras</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('administrators')}">
                <a><i class="fa fa-user"></i><span class="nav-label">Administradores</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('administrators')}">
                    <li ui-sref-active="active">
                        <a ui-sref="app.administrators">Listado</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('technicians')}">
                <a><i class="fa fa-truck"></i><span class="nav-label">Técnicos</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('technicians')}">
                    <li ui-sref-active="active">
                        <a ui-sref="app.technicians">Listado</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('error')}">
                <a><i class="fa fa-ticket"></i><span class="nav-label">Tickets</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('error')}">
                    <li ui-sref-active="active">
                        <a ui-sref="app.error-codes">Códigos de error</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.error-tickets">Seguimiento</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('dispatcher')}">
                <a><i class="fa fa-folder"></i><span class="nav-label">Despachador</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dispatcher')}">
                    <li ui-sref-active="active">
                        <a ui-sref="app.tickets-assign">Asignación</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('polls')}">
                <a><i class="fa fa-pencil-square-o"></i><span class="nav-label">Encuestas</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('polls')}">
                    <li ui-sref-active="active">
                        <a ui-sref="app.polls">Administración</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('social')}">
                <a><i class="fa fa-twitter"></i><span class="nav-label">Social</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('social')}">
                    <li ui-sref-active="active">
                        <a ui-sref="app.social-gallery">Galería</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.push-notifications">Notificaciones</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('finance')}">
                <a><i class="fa fa-dollar"></i><span class="nav-label">Finanzas</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('finance')}">
                    <li ui-sref-active="active">
                        <a ui-sref="app.finance-clients">Clientes</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.social-responsability">Responsabilidad Social</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.invoices">Facturas</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>